#about{
    margin: 50px 0;
}
.about-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-flex img{
    width: 50%;
}
.reverse{
    flex-direction: row-reverse;
}
.about-text{
    width: 45%;
}
.about-text h1{
    margin-bottom: 30px;
}

#advant{
    text-align: center;
    margin: 100px 0;
}
#advant img{
    width: 70%;
}

#partners{
    margin: 120px 0 50px;
}
.row .partner{
    width: 18%;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid black;
    margin-top: 20px;
}
.row .partner img{
    width: 100%;
}

.name {
    margin-bottom: 10px;
}
