@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Light 300
Regular 400
Medium 500
Bold 700 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow: scroll;
}
header{
    padding-top: 10px;
    background-color: #ffffff;
    position: fixed;
    z-index: 10;
    top: 0;
}
.header-mobile{
    display: none;
}
.onscroll{
    box-shadow: 0 0 15px rgba(187, 187, 187, 0.908);
}
body.scroll{
    overflow: hidden;
}
.wrapper{
    width: 75%;
    margin: 0 auto;
}
.inner{
    padding: 10px 0;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    width: 9%;
    margin-right: 5%;
    cursor: pointer;
    transition: .3s;
}
header nav{
    width: 30%;
}
header nav img{
    width: 9%;
    margin-right: 30px;
    cursor: pointer;
    transition: .3s;
}
header nav img:hover{
    opacity: 0.5;
}
header .search-header{
    width: 60%;
}
.search-header-mobile{
    display: none;
}
.search-header {
    display: flex;
    position: relative;
    align-items: center;
}
.search-header input, .search-header-mobile input{
    width: 100%;
    border-radius: 40px;
    border-color: #0353a4;
    padding: 16px 0 16px 25px; 
}
.search-header button, .search-header-mobile button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-color: #0353a4;
    padding: 10px;
    position: absolute;
    right: 4px;
    cursor: pointer;
    transition: .3s;
}
.search-header button:hover, .search-header-mobile button:hover{
    background: #034689;
}
.search-header button:hover img, .search-header-mobile button:hover img{
    width: 80%;
}
.search-header button img, .search-header-mobile button img{
    width: 85%;
}
.second-nav {
    padding-top: 100px;
}
.second-nav .link-nav{
    background: #f6f7f9;
    border: 1px solid #eef1f2;
    padding: 7px 14px;
    border-radius: 16px;
}
.second-nav a{
    text-decoration: none;
    color: black;
    transition: .3s;
    margin-left: 10px;
    font-size: 14px;
}
.second-nav, .second-nav  .link-nav{
    display: flex;
    align-items: center;
}
.second-nav  .link-nav{
    margin-right: 20px;
}
.second-nav  .link-nav img{
    width: 25px;
}
.second-nav .link-nav:hover{
   cursor: pointer; 
}

.popup{
    width: 100%;
    height: 100%;
    z-index: 10000;
    position: absolute;
    align-items: center;
}
.popup_form{
    padding: 50px 100px;
    width: 35%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form .img{
    text-align: center;
    margin-bottom: 20px;
}
.form .img img{
    width: 30%;
}
.form .input{
    margin-bottom: 25px;

}
.form input[type = "email"], .form input[type = "password"]{
    margin-top: 15px;
    border: none;
    border-bottom: 1.5px solid #0353a4;
    padding-bottom: 5px;
    padding-left: 5px;
    outline: none;
    width: 100%;
    font-size: 16px;
}
.form input[type = "button"]{
    width: 100%;
    background-color: #0353a4;
    color: white;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.input a{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    font-size: 14px;
}
#or{
    margin: 0 auto;
    width: 50px;
    height: 22px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.form_icons{
    width: 40%;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
}
.form_icons img{
    width: 20%;
    cursor: pointer;
}
.form p{
    text-align: center;
}
.form p a{
    color: black;
}

